.transition-button {
  background-image: url("https://wiki.leagueoflegends.com/en-us/images/Mordekaiser_Realm_of_Death.png?9696f");
  background-size: 53px 43px;
  background-repeat: no-repeat;
  margin-left: 2.5%;
  margin-top: 1%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  font-family: "arial black";
  font-size: 15px;
}

.transition-button:hover {
  background-image: url("https://wiki.leagueoflegends.com/en-us/images/Mordekaiser_Realm_of_Death.png?9696f");
  background-size: 53px 43px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
img {
  width: 30%;
  height: auto;
}
h1,
h2,
h3,
p {
  color: #4e9577;
}
body {
  background-color: #34383b;
  margin-left: 2%;
  margin-right: auto;
}
div {
  padding: 120px;
  margin: 10px;
}
p {
  font-family: "Comic Sans MS";
  font-size: 20px;
}
h1 {
  font-family: "Lucida Handwriting";
}
h2 {
  font-family: "Arial Black";
  margin-left: 0%;
  margin-right: auto;
}
h3 {
  font-family: "arial black";
}
h4 {
  font-family: "arial black";
  margin-left: 1%;
  color: #ddd;
}
ol {
  font-family: "Garamond black";
  font-size: 25px;
  margin-left: 3%;
  margin-right: auto;
}
form {
  background-color: #222222;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  color: white;
  font-family: "arial black";
  margin-left: 10%;
  margin-right: auto;
}
input[type="text"],
input[type="email"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "arial black";
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "arial black";
}

input[type="submit"]:hover {
  background-color: #45a049;
  font-family: "arial black";
}
figcaption {
  font-family: "comic Sans MS";
  font-size: 15px;
  color: lightgray;
  margin-left: 100px;
}
a {
  animation-name: rainbow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: "arial black";
  color: rgba(155, 79, 150);
}

@keyframes rainbow {
  33% {
    color: rgba(212, 1, 111);
  }

  66% {
    color: rgba(155, 79, 150);
  }

  100% {
    color: rgba(0, 56, 168);
  }
}
tr,
th,
td {
  border: 2px solid #4e9577;
  padding: 10px;
  text-align: center;
  font-family: "arial black";
  color: white;
}
.animation-box {
  width: 50px;
  height: 50px;
  background-color: #4e9577;
  position: relative;
  animation: move 2s infinite alternate;
}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 100px;
  }
}
.pseudo-list li:nth-child(odd) {
  background-color: #4e9577;
  font-family: "arial black";
  margin-right: auto;
  padding-right: 50%;
}

.pseudo-list li:nth-child(even) {
  background-color: #535353;
  font-family: "arial black";
  margin-right: auto;
  padding-right: 50%;
}
.filter-image:hover {
  filter: grayscale(50%);
  transition: filter 0.3s ease;
}

.filter-image:hover {
  filter: grayscale(100%);
}
.quote {
  position: relative;
  padding-left: 15px;
  font-family: "arial black";
  font-size: 15px;
}
.quote::before {
  content: "“";
  font-size: 20px;
  position: absolute;
  font-family: "comic Sans MS";
  left: 0;
  top: 1;
  color: lightgray;
}
.quote::after {
  content: "”";
  padding-left: 5px;
  font-family: "comic Sans MS";
  font-size: 20px;
  position: absolute;
  left: 1;
  top: 20;
  color: lightgray;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  background-color: #88fbf3;
  padding: 20px;
  text-align: center;
  font-family: "arial black";
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    background-color: #4e9577;
    font-family: "arial black";
    padding: 20px;
    text-align: center;
  }
.responsive-box {
    padding: 20px;
    font-family: "arial black";
    color: white;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .responsive-box {
      background-color: #535353;
    }
  }
  
  @media (min-width: 601px) {
    .responsive-box {
      background-color: #4e9577;
    }
  }