:root {
  --sumu: #c9c9c9;
  --tumma: #2e2e2e;
  --tosi_tumma: #0e0e0e;
  --veri: #8b0000;
  --veri_2: #52000049;
  --vihrea: #3e4b3c;
  --ruoste: #a35f3d;
  --max-width: 1000px;
  --container-padding: 20px;
  --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  color: var(--tumma);
  background: linear-gradient(180deg, #050505 0%, #151515 100%);
  min-height: 100vh;
  line-height: 1.5;
}
/* Headerin sisältö */
.site-header {
  background: linear-gradient(90deg, #161616, #141414);
  border-bottom: 1px var(--tosi_tumma);
  padding: 16px;
  position: sticky;
  top: 0;
}
.container {
  max-width: 1000px;
  padding: var(--container-padding);
  margin: auto;
  color: var(--sumu);
}
.logo {
  font-size: 1.8rem;
  margin: 0;
  color: var(--sumu);
}
.main-nav {
  margin-top: 8px;
}
.main-nav a {
  /* teksti navigaatiolle */
  color: var(--sumu);
  text-decoration: none;
  margin-right: 14px;
  padding: 6px 8px;
  border-radius: 5px;
  font-weight: 500;
}
.main-nav a.active,
.main-nav a:hover {
  background: var(--veri_2);
  color: var(--veri);
}
/* hero laatikot */
.hero {
  display: grid;
  grid-template-columns: 1fr 320px;
  align-items: start;
  padding: 40px 0;
  background-size: cover;
  background-position: center;
  background-color: var(--tosi_tumma);
}
.hero h2 {
  font-size: 2rem;
  color: var(--sumu);
  margin-top: 0;
  padding-left: 18px;
}
.hero h3 {
  color: var(--sumu);
  margin-top: 0;
  padding-left: 18px;
}
.hero p {
  max-width: 640px;
  color: var(--sumu);
  padding: 10px 15px;
  font-size: 16px;
}
.hero ul {
  margin-top: 8px;
  margin-left: 50px;
  margin-bottom: 16px;
}
.hero b {
  color: var(--veri);
}
.quote {
  position: relative;
  padding-left: 30px;
  font-family: "Brush Script MT";
  font-size: 20px;
}
.quote::before {
  content: "“";
  font-size: 20px;
  position: absolute;
  font-family: "Brush Script MT";
  left: 0;
  top: 1;
  color: var(--sumu);
  padding-left: 10px;
}
.quote::after {
  content: "”";
  padding-left: 5px;
  font-family: "Brush Script MT";
  font-size: 20px;
  position: absolute;
  left: 1;
  top: 20;
  color: var(--sumu);
}
figcaption {
  font-size: 14px;
  color: var(--sumu);
  margin-top: 4px;
  margin-left: 30px;
}
/* nappulat */
.btn {
  display: inline-block;
  background: var(--veri);
  color: var(--sumu);
  padding: 10px 14px;
  border-radius: 6px;
  text-decoration: none;
  margin: 8px 20px;
  font-size: large;
}
.btn.ghost {
  background: transparent;
  border: 1px solid var(--vihrea);
  color: var(--sumu);
}
/* note / aside / imgages */
.note {
  background: var(--tumma);
  padding: 0px;
  margin-right: 20px;
  border-radius: 10px;
  color: #cfcfcf;
}
.story_img {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75%;
}

/* footer */
.site-footer {
  border-top: 1px solid var(--tosi_tumma);
  background: linear-gradient(90deg, #161616, #141414);
  padding: 16px 0;
  color: #9f9f9f;
  margin-top: 40px;
  text-align: center;
}
/* responsiivisuus */
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 28px 0;
  }
  .main-nav {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
}
